
.item img {
	width: 100%;
	/*max-width: 500px;*/
	/*display: block;*/
    margin: auto;

}
.navbar-brand{
	width: 70px;
	height: 70px;
	margin: auto;

}
.navbar-brand img{
	width: 100%;

}

nav{
	padding:10px;
}


nav ul li{
  display: inline-block;
  color: white;
  border: 1px solid white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:10px;

}
nav ul li:hover{
  background-color:rgba(238, 238, 238, 0.28);

}
/*.navbar-inverse .navbar-nav>.active>a{
	background-color: #222222;
	background-color:rgba(238, 238, 238, 0.28);
}
.navbar-inverse .navbar-nav>.active>a:focus{
	background-color:rgba(238, 238, 238, 0.28);


}
.navbar-inverse .navbar-nav>.active>a:hover{
	background-color:rgba(238, 238, 238, 0.28);


}*/


body{

	background-size: 200%;
	background-image: url(http://webdxd.github.io/movie/img/background.jpg);
	/*background-image: url(http://www.planwallpaper.com/static/images/Light-Wood-Background-Wallpaper.jpg);*/
	margin-top: 7rem;
}
h1{
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	text-align: center;
	color: white;
	display: block;
	margin: 10px;
	padding-top: 20px;

}

.glyphicon-film{
	margin-right: 15px;

}

.poster-position{

	text-align: center;
}
.myposter{
	width: 30%;
	height: auto;
	display: inline-block;
	padding: 10px;
	text-align: center;

}
.myposter:hover{
	padding: 0px;

}
.myposter img{

	width: 100%;
	/*height: auto;*/
	margin: auto;
/*	margin-right: 15px;
	margin-left: 15px;*/
	border: 3px solid white;
	opacity: .7;

}
.myposter img:hover {
  opacity: 1;
  
}

.modal-body img{
	width: 100%;
}

@media(max-width: 767px) {

  .myposter {
    width: 100%;
  }
  nav ul li{
    width: 100%;
    margin: 0;
    text-align: right;
    /*padding:8px;*/
    border: none;
    border-bottom: .5px solid white;
  }
}


footer{
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    color:#e0e0e0;
    text-align:center;
    /*position: fixed;*/
    bottom: 0;
}
.info-footer{
	display: inline-block;
	margin-left:10px;
	margin-right: 10px;
}
